<a href="https://colab.research.google.com/github/wjtopp3/CIS-210/blob/main/Dataframes_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
rides = pd.read_csv('cab_rides.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'cab_rides.csv'

In [ ]:
rides.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1.544950e+12,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1.543280e+12,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1.543370e+12,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1.543550e+12,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1.543460e+12,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL

In [ ]:
# df.iloc[] locations individual values in a
# datafarme using row (instance) and column (feature) numbers
rides.iloc[0:10, 8:]

     product_id          name
0     lyft_line        Shared
1  lyft_premier           Lux
2          lyft          Lyft
3   lyft_luxsuv  Lux Black XL
4     lyft_plus       Lyft XL
5      lyft_lux     Lux Black
6     lyft_plus       Lyft XL
7      lyft_lux     Lux Black
8     lyft_line        Shared
9   lyft_luxsuv  Lux Black XL

In [ ]:
# Use double brackets to create a dataframe with a subset of features
rides[['destination', 'source']]

            destination            source
0         North Station  Haymarket Square
1         North Station  Haymarket Square
2         North Station  Haymarket Square
3         North Station  Haymarket Square
4         North Station  Haymarket Square
..                  ...               ...
995  Financial District     South Station
996  Financial District     South Station
997  Financial District     South Station
998  Financial District     South Station
999  Financial District     South Station

[1000 rows x 2 columns]